@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik-Semibold-Web.eot');
	src: url('../fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Graphik-Semibold-Web.woff') format('woff'),
	url('../fonts/Graphik-Semibold-Web.ttf') format('truetype'),
	url('../fonts/Graphik-Semibold-Web.svg#Graphik-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik-Black-Web.eot');
	src: url('../fonts/Graphik-Black-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Graphik-Black-Web.woff') format('woff'),
	url('../fonts/Graphik-Black-Web.ttf') format('truetype'),
	url('../fonts/Graphik-Black-Web.svg#Graphik-Black') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}


@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik-Super-Web.eot');
	src: url('../fonts/Graphik-Super-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Graphik-Super-Web.woff') format('woff'),
	url('../fonts/Graphik-Super-Web.ttf') format('truetype'),
	url('../fonts/Graphik-Super-Web.svg#Graphik-Super') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
}
