@import "base.less";
@import "mixins.less";
@import "theme-variables.less";


body {
	background: @gray;
	font-family: 'Graphik', helvetica, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	font-smooth: auto;
}

ul {
	list-style: none;
	li {
		list-style: none;
	}
}

a, a:link, a:visited {
	color: #fff;
	.transition(color .15s ease-in);
}
a:hover, a.active {
	color: #000;
}

/* STRUCTURE */

body {
	> header.container-fluid {
		background-color: @brand;
		z-index: 2;
		position: fixed;
	    margin: auto;
	    top: 0; 
	    left: 0;
	    bottom: auto;
	    right: auto; 
	    box-sizing: border-box;
	    width: 100%;
	    padding-right: 25px;
	    padding-left: 25px;
	}
	> footer.container-fluid {
		background: @brand;
		color: #fff;
		.font-size(21);
		font-weight: 500;
		line-height: 1.34;
		padding: 1% 10%;
		padding-right: 25px;
	    padding-left: 25px;
		.pull-right {
			text-align: right;
		}
	}
}

.container {
	.row {
		header {
			background: #fff;
			color: @brand;
			border: 8px solid @gray;
			display: block;
		}
	}
	article {
		position: relative;
		margin-bottom: 40px;
		line-height: 1.7;
		.md-4 {
			> div {
				background: #fff;
				padding: 15px;
			}		
		}
	}
	h1, p, ol li {
		font-weight: 600;
		.font-size(30);
		color: @brand;
		margin-top: 0;
		strong {
			color: #000;
			display: block;
		}
	}
	h1, h2, h3, h4 {
		text-transform: uppercase;
	}
	p {
		font-weight: 600;
	}
	ol, ul {
		padding-left: 0;
		list-style-position: inside;
		li {
			color: #000;
		}
		p {
			color: @brand;
		}
	}
	header{
		background: #fff;
		border: 5px solid @gray;
		display: block;
		position: absolute;
		z-index: 1;
	}
	.middle {
		margin-top: 24px;
	}
}
.column {
	img {
		width: 100%;
		height: auto;
	}
}
.invert {
	background: @brand;
	color: #fff;
	border: none;
	padding: 15px;
	p, h1 {
		color: #fff;
	}
}

a.home {
	position: absolute;
	top: 27%;
	left: 25px;
	max-width: 70px;
	width: auto;
	max-height: 68px;
	height: 100%;
	img {
		max-width: 70px;
		width: auto;
		max-height: 68px;
		height: 100%;
		text-align: left;
	}
}
nav {
	
	ul {
		text-align: center;
		li {
			display: inline-block;
			margin-left: 2%;
			&:first-child {
				margin-left: 0;
			}
			a {
				.font-size(94);
				font-weight: 900;
				text-transform: lowercase;
				color: #fff;
				&.active {
					color: #000;
				}
			}
		}
		&.socialNav {
			position: absolute;
			top: 14.6%;
			right: 25px;
			a {
				text-indent: -9999px;
				overflow: hidden;
				width: 24px;
				height: 19px;
				display: inline-block;
				&.tw {
					background: url(../svg/tw.svg);
				}
				&.fb {
					background: url(../svg/fb.svg);
					width: 11px;
				}
				
			}
		}
	}
}



/* HOME */

.container-fluid.home {
	width: calc(100%);
	height: calc(100vh - 112px);	
	margin-top: 112px;

	/* FOR VIDEO */
	//————position: relative;
	//————padding-bottom: 56.25%; /* 16:9 */
	//————padding-top: ;
	//————height: 0;
	img {
		width: 100%;
		height: auto;
		margin: 0 -15px;
		display: none;
		&.visible {
			display: block;
		}
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		&.visible {
			display: block;
		}
	}
	
}




/* COMPONENTS */
.video {
	position: relative;
	background: url(../img/_video-placeholder.jpg) center no-repeat;
	background-size: cover;
	&:before {
		content: url(../svg/play.svg);
		display: inline-block;
		width: 146px;
		height: 148px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -73px;
		margin-top: -74px;
		cursor: pointer;
	}
	&.active {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 124px; ;
		height: 0;
	}
}


/* WHAT */

.container.what {
	article.row {
		background: #fff;
		padding: 40px;
		border: 7px solid @gray;
		img {
			max-width: 100%;
			height: auto;
		}
		&#course {
			background: @brand;
			font-weight: 500;
			h1, p {
				color: #fff;
			}
			h2 {
				.font-size(30);
				font-weight: 600;
				text-transform: none;
				color: #000;
			}
		}
	}
}


.parallax {
	background-position: 50% -200%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	// background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	padding: 15% 0;
	margin: 0;
	&.sub {
		padding: 0;
		article.row {
			margin-bottom: -7px;
			background: @brand !important;
			h1, p {
				color: #fff;
			}
			&#program {
				background: #fff !important;
				h1, p {
					font-weight: 600;
					color: @brand !important;
				}
			}
		}
	}
}

#p1{
	padding-top: 35%;
}

#p3 {
	padding-top: 15%;
}

#p5 {
	padding-bottom: 15%;
}


/* WHO */


.container#who {	
	margin-top: 112px;
	.row {
		&#partners,
		&#supporters {
			background: transparent;
			.column {
				padding: 4px;
				img {
					padding: 20%;
				}
			}
		}
		&.middle .column {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	article {
		margin-top: 20px;
		h1 {
			margin: .67em;
			.font-size(32);
			font-weight: 700;
		}
		h2, p {
			.font-size(26);
			color: @brand;
			font-weight: 500;
		}
		&#join {
			padding: 24px;
			h1, p {
				color: #fff;
				margin-left: 0;
				margin-top: 0;
			}
		}
	}	
}

/* ASK */


.container#ask {
	margin-top: 146px;
	section {
		background: @brand;
	}

	.row {
		.font-size(34);
		margin-left: 0;
		margin-right: 0;
		p {
			color: #fff;
		}
	}
	header {
		padding: 15px;
		background: #fff;
		margin-top: 15px;
		margin-bottom: 8px;
		border: none;
		width: 100%;
		position: relative;
		h2 {
			.font-size(30);
			font-weight: 600;
			color: @brand;
		}
	}
	section.row {
		padding: 25px;
		ul {
			margin-top: 0;
			font-weight: 700;
		}
	}
}



/* ACCORDION */
.accordion {
	li {
		&:before {
			content: "";
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;			
			border-top: 10px solid #000;
			top: -2px;
		    position: relative;
		    margin-right: 12px;
			display: inline-block;
		    .transform(rotate(-90deg));
		    .transition(transform .15s ease)
		}
		> a {
			.font-size(30);
			color: #000;
			font-weight: 600;
			&:hover {
				color: #fff;
			}
		}
		ul {
			margin-bottom: 30px;
			li {
				padding-left: 30px;
				p {
					padding-left: 10px;
				}
			}
		}
		&.active:before {
			.transform(rotate(0deg));
		}
	}
}




/* MENU */

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  margin: 10px;
  padding: 6px 5px 9px;
  cursor: pointer;
  z-index: 20;
  display: none;

}

.hamburger .hamburger-inner {
  position: relative;
  height: 21px;
  width: 25px;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  opacity: 1;
  .transition(.2s all ease-in-out);
  &.invisible {
  	opacity: 0;
  }
  &.visible {
  	.transform(rotate(-45deg));
  }
}


.hamburger .bar.bar2,
.hamburger .bar.bar3 { 
	top: 9px;
}
.hamburger .bar.bar3.visible {
	.transform(rotate(45deg));
}

.hamburger .bar.bar4 { top: 18px;}

.hamburger.open .bar1,
.hamburger.open .bar4 { display: none }

.hamburger.open .bar2,
.hamburger.open .bar3 { height: 4px }


.mobile-marker {
	text-align: center;
    font-size: 23px;
    font-weight: 800;
    color: #fff;
    padding-top: 13px;
    display: none;
}

@import "theme.less";
@import "fonts.less";