/*
--------------------------------------------------- QUERIES ---------------------------------------------------
*/

/* Tiny Screens */
@media (max-width: 315px){
	
}

/* Extra Small */
@media (max-width: 767px) {
	html {
		font-size: 40%;
	}
	.hamburger {
		display: block;
	}
	.container-fluid.home {
		margin-top: 54px;
		height: calc(100vh - 54px);
	}

	.row {
		margin-left: auto;
		margin-right: auto;
	}
	#p1 {
		padding-top: 100%;
	}
	
	.container {
		padding-top: 5%;
	}
	.parallax {
		padding-top: 35%;
	}
	.container.what article.row {
		border-width: 4px;
		padding: 10px;

	}
	.container#who,
	.container#ask {
		margin-top: 54px;
		article:first-child {
			margin-top: 0;
		}
	}

	.container article {
		padding: 10px;
	}
	.container header {
		position: relative;
	}

	.container article#team,
	.container article#family{
		padding: 0;
		.md-4 > div {
		    border-top: 4px solid @gray;
		    p {
		    	display: none;
		    }
		    padding: 0 15px 1px 15px;
		    margin-bottom: 20px;
		}
	}

	body {
		> header {
			background-color: @brand;
			height: 54px;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			nav.row {
				height: 100vh;
				width: 47vw;
				float: right;
				background-color: @brand-dark;
				margin-right: -25px;
				margin-top: -45px;
				.transform(translateX(115%));
				.transition(transform .15s ease-in-out);
				&.open {
					.transform(translateX(0));
					}
				}
			a.home {
				max-height: 30px;
				min-height: 30px;
				top: 13px;
  				left: 15px;
			}
			ul {
				&.socialNav {
					position: relative;
					margin-left: 0;
					margin-right: 0;
					margin-top: 0px;
    				padding-left: 20px;
    				top: 0;
    				text-align: left;
    				left: 0;
					a {
						display: block;
					    .font-size(38);
					    text-align: left;
					    margin-bottom: 16px;
					}
				}
				&.mainNav {
					position: relative;
					margin-left: 0;
					margin-right: 0;
					margin-top: 70px;
    				padding-left: 20px;
    				text-align: left;
					li {
						display: block;
						width: auto;
						margin-left: 0;
						a {
							display: block;
							font-size: 5rem !important;
							text-align: left;
							width: auto;

						}
					}
				}		
			}
		}
		> footer {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.mobile-marker {
		display: block;
	}

	.accordion li:before {
	    content: "";
	    width: 0;
	    height: 0;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-top: 7px solid #000;
	    margin-right: 4px;
	}
	
		
}

/* Small */
@media (min-width: 768px) and (max-width: 1199px) {
	
}

/* Large */
@media (min-width: 1200px) and (max-width: 1799px) {
	
}
/* Huge */
@media (min-width: 1800px) {
	
}

/* All Except Mobile */
@media (min-width: 768px){
	
}

