html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.xs-1,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-10,
.xs-11,
.xs-12 {
  float: left;
}
.xs-12 {
  width: 100%;
}
.xs-11 {
  width: 91.66666667%;
}
.xs-10 {
  width: 83.33333333%;
}
.xs-9 {
  width: 75%;
}
.xs-8 {
  width: 66.66666667%;
}
.xs-7 {
  width: 58.33333333%;
}
.xs-6 {
  width: 50%;
}
.xs-5 {
  width: 41.66666667%;
}
.xs-4 {
  width: 33.33333333%;
}
.xs-3 {
  width: 25%;
}
.xs-2 {
  width: 16.66666667%;
}
.xs-1 {
  width: 8.33333333%;
}
.xs-pull-12 {
  right: 100%;
}
.xs-pull-11 {
  right: 91.66666667%;
}
.xs-pull-10 {
  right: 83.33333333%;
}
.xs-pull-9 {
  right: 75%;
}
.xs-pull-8 {
  right: 66.66666667%;
}
.xs-pull-7 {
  right: 58.33333333%;
}
.xs-pull-6 {
  right: 50%;
}
.xs-pull-5 {
  right: 41.66666667%;
}
.xs-pull-4 {
  right: 33.33333333%;
}
.xs-pull-3 {
  right: 25%;
}
.xs-pull-2 {
  right: 16.66666667%;
}
.xs-pull-1 {
  right: 8.33333333%;
}
.xs-pull-0 {
  right: auto;
}
.xs-push-12 {
  left: 100%;
}
.xs-push-11 {
  left: 91.66666667%;
}
.xs-push-10 {
  left: 83.33333333%;
}
.xs-push-9 {
  left: 75%;
}
.xs-push-8 {
  left: 66.66666667%;
}
.xs-push-7 {
  left: 58.33333333%;
}
.xs-push-6 {
  left: 50%;
}
.xs-push-5 {
  left: 41.66666667%;
}
.xs-push-4 {
  left: 33.33333333%;
}
.xs-push-3 {
  left: 25%;
}
.xs-push-2 {
  left: 16.66666667%;
}
.xs-push-1 {
  left: 8.33333333%;
}
.xs-push-0 {
  left: auto;
}
.xs-offset-12 {
  margin-left: 100%;
}
.xs-offset-11 {
  margin-left: 91.66666667%;
}
.xs-offset-10 {
  margin-left: 83.33333333%;
}
.xs-offset-9 {
  margin-left: 75%;
}
.xs-offset-8 {
  margin-left: 66.66666667%;
}
.xs-offset-7 {
  margin-left: 58.33333333%;
}
.xs-offset-6 {
  margin-left: 50%;
}
.xs-offset-5 {
  margin-left: 41.66666667%;
}
.xs-offset-4 {
  margin-left: 33.33333333%;
}
.xs-offset-3 {
  margin-left: 25%;
}
.xs-offset-2 {
  margin-left: 16.66666667%;
}
.xs-offset-1 {
  margin-left: 8.33333333%;
}
.xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .sm-1,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9,
  .sm-10,
  .sm-11,
  .sm-12 {
    float: left;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-pull-12 {
    right: 100%;
  }
  .sm-pull-11 {
    right: 91.66666667%;
  }
  .sm-pull-10 {
    right: 83.33333333%;
  }
  .sm-pull-9 {
    right: 75%;
  }
  .sm-pull-8 {
    right: 66.66666667%;
  }
  .sm-pull-7 {
    right: 58.33333333%;
  }
  .sm-pull-6 {
    right: 50%;
  }
  .sm-pull-5 {
    right: 41.66666667%;
  }
  .sm-pull-4 {
    right: 33.33333333%;
  }
  .sm-pull-3 {
    right: 25%;
  }
  .sm-pull-2 {
    right: 16.66666667%;
  }
  .sm-pull-1 {
    right: 8.33333333%;
  }
  .sm-pull-0 {
    right: auto;
  }
  .sm-push-12 {
    left: 100%;
  }
  .sm-push-11 {
    left: 91.66666667%;
  }
  .sm-push-10 {
    left: 83.33333333%;
  }
  .sm-push-9 {
    left: 75%;
  }
  .sm-push-8 {
    left: 66.66666667%;
  }
  .sm-push-7 {
    left: 58.33333333%;
  }
  .sm-push-6 {
    left: 50%;
  }
  .sm-push-5 {
    left: 41.66666667%;
  }
  .sm-push-4 {
    left: 33.33333333%;
  }
  .sm-push-3 {
    left: 25%;
  }
  .sm-push-2 {
    left: 16.66666667%;
  }
  .sm-push-1 {
    left: 8.33333333%;
  }
  .sm-push-0 {
    left: auto;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .md-1,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-10,
  .md-11,
  .md-12 {
    float: left;
  }
  .md-12 {
    width: 100%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-9 {
    width: 75%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-6 {
    width: 50%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-3 {
    width: 25%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-pull-12 {
    right: 100%;
  }
  .md-pull-11 {
    right: 91.66666667%;
  }
  .md-pull-10 {
    right: 83.33333333%;
  }
  .md-pull-9 {
    right: 75%;
  }
  .md-pull-8 {
    right: 66.66666667%;
  }
  .md-pull-7 {
    right: 58.33333333%;
  }
  .md-pull-6 {
    right: 50%;
  }
  .md-pull-5 {
    right: 41.66666667%;
  }
  .md-pull-4 {
    right: 33.33333333%;
  }
  .md-pull-3 {
    right: 25%;
  }
  .md-pull-2 {
    right: 16.66666667%;
  }
  .md-pull-1 {
    right: 8.33333333%;
  }
  .md-pull-0 {
    right: auto;
  }
  .md-push-12 {
    left: 100%;
  }
  .md-push-11 {
    left: 91.66666667%;
  }
  .md-push-10 {
    left: 83.33333333%;
  }
  .md-push-9 {
    left: 75%;
  }
  .md-push-8 {
    left: 66.66666667%;
  }
  .md-push-7 {
    left: 58.33333333%;
  }
  .md-push-6 {
    left: 50%;
  }
  .md-push-5 {
    left: 41.66666667%;
  }
  .md-push-4 {
    left: 33.33333333%;
  }
  .md-push-3 {
    left: 25%;
  }
  .md-push-2 {
    left: 16.66666667%;
  }
  .md-push-1 {
    left: 8.33333333%;
  }
  .md-push-0 {
    left: auto;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .lg-1,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-10,
  .lg-11,
  .lg-12 {
    float: left;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-pull-12 {
    right: 100%;
  }
  .lg-pull-11 {
    right: 91.66666667%;
  }
  .lg-pull-10 {
    right: 83.33333333%;
  }
  .lg-pull-9 {
    right: 75%;
  }
  .lg-pull-8 {
    right: 66.66666667%;
  }
  .lg-pull-7 {
    right: 58.33333333%;
  }
  .lg-pull-6 {
    right: 50%;
  }
  .lg-pull-5 {
    right: 41.66666667%;
  }
  .lg-pull-4 {
    right: 33.33333333%;
  }
  .lg-pull-3 {
    right: 25%;
  }
  .lg-pull-2 {
    right: 16.66666667%;
  }
  .lg-pull-1 {
    right: 8.33333333%;
  }
  .lg-pull-0 {
    right: auto;
  }
  .lg-push-12 {
    left: 100%;
  }
  .lg-push-11 {
    left: 91.66666667%;
  }
  .lg-push-10 {
    left: 83.33333333%;
  }
  .lg-push-9 {
    left: 75%;
  }
  .lg-push-8 {
    left: 66.66666667%;
  }
  .lg-push-7 {
    left: 58.33333333%;
  }
  .lg-push-6 {
    left: 50%;
  }
  .lg-push-5 {
    left: 41.66666667%;
  }
  .lg-push-4 {
    left: 33.33333333%;
  }
  .lg-push-3 {
    left: 25%;
  }
  .lg-push-2 {
    left: 16.66666667%;
  }
  .lg-push-1 {
    left: 8.33333333%;
  }
  .lg-push-0 {
    left: auto;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  background: #ececec;
  font-family: 'Graphik', helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-smooth: auto;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
a,
a:link,
a:visited {
  color: #fff;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -ms-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
}
a:hover,
a.active {
  color: #000;
}
/* STRUCTURE */
body > header.container-fluid {
  background-color: #852a5c;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  box-sizing: border-box;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}
body > footer.container-fluid {
  background: #852a5c;
  color: #fff;
  font-size: 21px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.34;
  padding: 1% 10%;
  padding-right: 25px;
  padding-left: 25px;
}
body > footer.container-fluid .pull-right {
  text-align: right;
}
.container .row header {
  background: #fff;
  color: #852a5c;
  border: 8px solid #ececec;
  display: block;
}
.container article {
  position: relative;
  margin-bottom: 40px;
  line-height: 1.7;
}
.container article .md-4 > div {
  background: #fff;
  padding: 15px;
}
.container h1,
.container p,
.container ol li {
  font-weight: 600;
  font-size: 30px;
  font-size: 2.142857142857143rem;
  color: #852a5c;
  margin-top: 0;
}
.container h1 strong,
.container p strong,
.container ol li strong {
  color: #000;
  display: block;
}
.container h1,
.container h2,
.container h3,
.container h4 {
  text-transform: uppercase;
}
.container p {
  font-weight: 600;
}
.container ol,
.container ul {
  padding-left: 0;
  list-style-position: inside;
}
.container ol li,
.container ul li {
  color: #000;
}
.container ol p,
.container ul p {
  color: #852a5c;
}
.container header {
  background: #fff;
  border: 5px solid #ececec;
  display: block;
  position: absolute;
  z-index: 1;
}
.container .middle {
  margin-top: 24px;
}
.column img {
  width: 100%;
  height: auto;
}
.invert {
  background: #852a5c;
  color: #fff;
  border: none;
  padding: 15px;
}
.invert p,
.invert h1 {
  color: #fff;
}
a.home {
  position: absolute;
  top: 27%;
  left: 25px;
  max-width: 70px;
  width: auto;
  max-height: 68px;
  height: 100%;
}
a.home img {
  max-width: 70px;
  width: auto;
  max-height: 68px;
  height: 100%;
  text-align: left;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-left: 2%;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  font-size: 94px;
  font-size: 6.714285714285714rem;
  font-weight: 900;
  text-transform: lowercase;
  color: #fff;
}
nav ul li a.active {
  color: #000;
}
nav ul.socialNav {
  position: absolute;
  top: 14.6%;
  right: 25px;
}
nav ul.socialNav a {
  text-indent: -9999px;
  overflow: hidden;
  width: 24px;
  height: 19px;
  display: inline-block;
}
nav ul.socialNav a.tw {
  background: url(../svg/tw.svg);
}
nav ul.socialNav a.fb {
  background: url(../svg/fb.svg);
  width: 11px;
}
/* HOME */
.container-fluid.home {
  width: calc(100%);
  height: calc(100vh - 112px);
  margin-top: 112px;
  /* FOR VIDEO */
}
.container-fluid.home img {
  width: 100%;
  height: auto;
  margin: 0 -15px;
  display: none;
}
.container-fluid.home img.visible {
  display: block;
}
.container-fluid.home iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.container-fluid.home iframe.visible {
  display: block;
}
/* COMPONENTS */
.video {
  position: relative;
  background: url(../img/_video-placeholder.jpg) center no-repeat;
  background-size: cover;
}
.video:before {
  content: url(../svg/play.svg);
  display: inline-block;
  width: 146px;
  height: 148px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -73px;
  margin-top: -74px;
  cursor: pointer;
}
.video.active {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 124px;
  height: 0;
}
/* WHAT */
.container.what article.row {
  background: #fff;
  padding: 40px;
  border: 7px solid #ececec;
}
.container.what article.row img {
  max-width: 100%;
  height: auto;
}
.container.what article.row#course {
  background: #852a5c;
  font-weight: 500;
}
.container.what article.row#course h1,
.container.what article.row#course p {
  color: #fff;
}
.container.what article.row#course h2 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  font-weight: 600;
  text-transform: none;
  color: #000;
}
.parallax {
  background-position: 50% -100%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 15% 0;
  margin: 0;
}
.parallax.sub {
  padding: 0;
}
.parallax.sub article.row {
  margin-bottom: -7px;
  background: #852a5c !important;
}
.parallax.sub article.row h1,
.parallax.sub article.row p {
  color: #fff;
}
.parallax.sub article.row#program {
  background: #fff !important;
}
.parallax.sub article.row#program h1,
.parallax.sub article.row#program p {
  font-weight: 600;
  color: #852a5c !important;
}
#p1 {
  padding-top: 35%;
}
#p3 {
  padding-top: 15%;
}
#p5 {
  padding-bottom: 15%;
}
/* WHO */
.container#who {
  margin-top: 112px;
}
.container#who .row#partners,
.container#who .row#supporters {
  background: transparent;
}
.container#who .row#partners .column,
.container#who .row#supporters .column {
  padding: 4px;
}
.container#who .row#partners .column img,
.container#who .row#supporters .column img {
  padding: 20%;
}
.container#who .row.middle .column {
  padding-left: 5px;
  padding-right: 5px;
}
.container#who article {
  margin-top: 20px;
}
.container#who article h1 {
  margin: .67em;
  font-size: 32px;
  font-size: 2.2857142857142856rem;
  font-weight: 700;
}
.container#who article h2,
.container#who article p {
  font-size: 26px;
  font-size: 1.8571428571428572rem;
  color: #852a5c;
  font-weight: 500;
}
.container#who article#join {
  padding: 24px;
}
.container#who article#join h1,
.container#who article#join p {
  color: #fff;
  margin-left: 0;
  margin-top: 0;
}
/* ASK */
.container#ask {
  margin-top: 146px;
}
.container#ask section {
  background: #852a5c;
}
.container#ask .row {
  font-size: 34px;
  font-size: 2.4285714285714284rem;
  margin-left: 0;
  margin-right: 0;
}
.container#ask .row p {
  color: #fff;
}
.container#ask header {
  padding: 15px;
  background: #fff;
  margin-top: 15px;
  margin-bottom: 8px;
  border: none;
  width: 100%;
  position: relative;
}
.container#ask header h2 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  font-weight: 600;
  color: #852a5c;
}
.container#ask section.row {
  padding: 25px;
}
.container#ask section.row ul {
  margin-top: 0;
  font-weight: 700;
}
/* ACCORDION */
.accordion li:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  top: -2px;
  position: relative;
  margin-right: 12px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transition: transform 0.15s ease;
  -moz-transition: transform 0.15s ease;
  -ms-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
}
.accordion li > a {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  color: #000;
  font-weight: 600;
}
.accordion li > a:hover {
  color: #fff;
}
.accordion li ul {
  margin-bottom: 30px;
}
.accordion li ul li {
  padding-left: 30px;
}
.accordion li ul li p {
  padding-left: 10px;
}
.accordion li.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
/* MENU */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  margin: 10px;
  padding: 6px 5px 9px;
  cursor: pointer;
  z-index: 20;
  display: none;
}
.hamburger .hamburger-inner {
  position: relative;
  height: 21px;
  width: 25px;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}
.hamburger .bar.invisible {
  opacity: 0;
}
.hamburger .bar.visible {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.hamburger .bar.bar2,
.hamburger .bar.bar3 {
  top: 9px;
}
.hamburger .bar.bar3.visible {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.hamburger .bar.bar4 {
  top: 18px;
}
.hamburger.open .bar1,
.hamburger.open .bar4 {
  display: none;
}
.hamburger.open .bar2,
.hamburger.open .bar3 {
  height: 4px;
}
.mobile-marker {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  color: #fff;
  padding-top: 13px;
  display: none;
}
/*
--------------------------------------------------- QUERIES ---------------------------------------------------
*/
/* Tiny Screens */
/* Extra Small */
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
  .hamburger {
    display: block;
  }
  .container-fluid.home {
    margin-top: 54px;
    height: calc(100vh - 54px);
  }
  .row {
    margin-left: auto;
    margin-right: auto;
  }
  #p1 {
    padding-top: 100%;
  }
  .container {
    padding-top: 5%;
  }
  .parallax {
    padding-top: 35%;
  }
  .container.what article.row {
    border-width: 4px;
    padding: 10px;
  }
  .container#who,
  .container#ask {
    margin-top: 54px;
  }
  .container#who article:first-child,
  .container#ask article:first-child {
    margin-top: 0;
  }
  .container article {
    padding: 10px;
  }
  .container header {
    position: relative;
  }
  .container article#team,
  .container article#family {
    padding: 0;
  }
  .container article#team .md-4 > div,
  .container article#family .md-4 > div {
    border-top: 4px solid #ececec;
    padding: 0 15px 1px 15px;
    margin-bottom: 20px;
  }
  .container article#team .md-4 > div p,
  .container article#family .md-4 > div p {
    display: none;
  }
  body > header {
    background-color: #852a5c;
    height: 54px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  body > header nav.row {
    height: 100vh;
    width: 47vw;
    float: right;
    background-color: #802653;
    margin-right: -25px;
    margin-top: -45px;
    -webkit-transform: translateX(115%);
    -moz-transform: translateX(115%);
    -ms-transform: translateX(115%);
    -o-transform: translateX(115%);
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out;
    -ms-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
  }
  body > header nav.row.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  body > header a.home {
    max-height: 30px;
    min-height: 30px;
    top: 13px;
    left: 15px;
  }
  body > header ul.socialNav {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    padding-left: 20px;
    top: 0;
    text-align: left;
    left: 0;
  }
  body > header ul.socialNav a {
    display: block;
    font-size: 38px;
    font-size: 2.7142857142857144rem;
    text-align: left;
    margin-bottom: 16px;
  }
  body > header ul.mainNav {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px;
    padding-left: 20px;
    text-align: left;
  }
  body > header ul.mainNav li {
    display: block;
    width: auto;
    margin-left: 0;
  }
  body > header ul.mainNav li a {
    display: block;
    font-size: 5rem !important;
    text-align: left;
    width: auto;
  }
  body > footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-marker {
    display: block;
  }
  .accordion li:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    margin-right: 4px;
  }
}
/* Small */
/* Large */
/* Huge */
/* All Except Mobile */
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Semibold-Web.eot');
  src: url('../fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Semibold-Web.woff') format('woff'), url('../fonts/Graphik-Semibold-Web.ttf') format('truetype'), url('../fonts/Graphik-Semibold-Web.svg#Graphik-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Black-Web.eot');
  src: url('../fonts/Graphik-Black-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Black-Web.woff') format('woff'), url('../fonts/Graphik-Black-Web.ttf') format('truetype'), url('../fonts/Graphik-Black-Web.svg#Graphik-Black') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Super-Web.eot');
  src: url('../fonts/Graphik-Super-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Super-Web.woff') format('woff'), url('../fonts/Graphik-Super-Web.ttf') format('truetype'), url('../fonts/Graphik-Super-Web.svg#Graphik-Super') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
/*# sourceMappingURL=main.css.map */